@tailwind base;
@tailwind components;
@tailwind utilities;

body:not(.modal-open) {
  overflow-y: scroll;
}
body.modal-open {
  overflow: hidden;
}
body.modal-open #modal {
  overflow-y: scroll;
  pointer-events: all;
  opacity: 1;
}
body.modal-open #main,
body.modal-open #root,
body.modal-open #__next {
  overflow-y: scroll;
}
#main,
#root,
#__next {
  min-height: 100vh;
}

* {
  -webkit-tap-highlight-color: transparent;
}
